/*Estilo para títulos*/
h1 {
  color: rgb(79, 110, 139);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(219, 238, 255);
}

table {
  border: 3px solid rgb(222, 231, 96);
}

img {
  border-radius: 50px;
}

footer {
  color: rgb(179, 162, 136);
  justify-content: left;
}

/*Estilos en class*/
.backgroundcolor {
  background-color: rgb(199, 159, 167);
}

.bold {
  font-weight: bold;
}

/*Grids para index*/
.grid-container {
  display: grid;
  background-color: rgb(255, 251, 245);
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  align-content: stretch;
  min-height: 100vh;
}

.grid-container div {
  background-color: rgb(179, 162, 136);
  text-align: center;
  color: aliceblue;
  border: 1px solid black;
}

.header {
  grid-row: 1 / 5;
}

/*Flexbox para Experiencia*/
.flex-container {
  display: flex;
  flex-direction: row;
  background-color: rgb(12, 11, 10);
  padding: 10px;
  border: 2px black;
}

.flex-container div {
  background-color: rgb(12, 11, 10);
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border: 2px solid black;
}

/*Grid para Contacto*/

.gridcontacto {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  background-color: rgb(202, 185, 158);
}

.headercontacto {
  grid-row: 1 / 5;
}

.titulocontacto {
  grid-column: 2 / 5;
}

.formulario {
  grid-column: 2 / 5;
}

.footercontacto {
  grid-column: 2 / 5;
}

/*Grid para Curriculum vitae*/
.gridcurriculumvitae {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  background-color: rgb(202, 185, 158);
}

.headercurriculumvitae {
  grid-row: 1 /5;
}
.titulocurriculumvitae {
  grid-column: 2 / 5;
}

.imagencv {
  grid-column: 2 / 5;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

.footercurriculumvitae {
  grid-column: 2 / 5;
}

/*Grid para Trabajos*/
.gridtrabajos {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  background-color: rgb(202, 185, 158);
}

.headertrabajos {
  grid-row: 1 /5;
}

.titulotrabajos {
  grid-column: 2 / 5;
}

.videotrabajos {
  grid-column: 2 / 5;
  width: 100%;
  max-width: 900px;
  margin: auto;
}

iframe {
  width: 100%;
  height: auto;
}

.footertrabajos {
  grid-column: 2 / 5;
}
