.grid-container {
  display: -ms-grid;
  display: grid;
  background-color: #fffbf5;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  min-height: 100vh;
  div {
    background-color: #b3a288;
    text-align: center;
    color: aliceblue;
    border: 1px solid black;
  }
}
.fadeIn {
  animation-name: fadeIn-animation;
  animation-duration: 2s;
  animation-iteration-count: initial;
}

/* animation */
@keyframes fadeIn-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
